/* ARRIÈRE PLAN */
body{
  margin:0;
  padding:0;
  background-image:  url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:black;
}

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

/* PLAN DE DEVANT VISION DIRECT */
.title{
  text-align: center;
  text-decoration: underline;
  color:#ffffff;
  text-shadow:1px 1px 1px #f00;
}

.player{
  height:auto;
}

#exampleInputEmail1{
  width:400px;
  margin:auto;
  display: flex;
  justify-content: center;
}

.movieContainer{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.container_playlist{
  height:315px;
  width:560px;
  overflow-y: scroll;
  visibility: visible;
  display: flex;
  margin:12px auto;
  flex-direction: column;
  background-color:#cccccc;
}

.search{
  display:flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
}

.image{
  width:30px;
  height:30px;
  margin-bottom: 1px;
}

h5{
  color: blue;
}
input {
  display: inline-block;
  width: 5em;
}
.boutton{
  width:28%;
  height:315px;
  position:absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.right{
  margin-right:0;
  margin-left: 72%;
  margin-top:-2%;
}

.texte{
  box-shadow: 10px solid #ccc;
}

.menu{
  border:1px solid white;
}