html{
    background-image:url('background.jpg') fixed no-repeat;
    background-size: 100%;
}

#container__principal{
    width:85%;
    margin:auto;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    box-shadow:1px 1px 1px blue,
    2px 2px 2px blue,
    3px 3px 3px blue,
    4px 4px 4px blue,
    5px 5px 5px blue,
    6px 6px 6px blue,
    7px 7px 7px blue,
    8px 8px 8px blue,
    9px 9px 9px blue,
    10px 10px 10px blue;
}
.inscription{
    background:purple;
    margin:auto;
    width:50%;
    height:auto;
}
.title__inscription{
    color:white;
    text-align: center;
    text-decoration: underline;
    font-family:'Qwigley';
    font-size: 60px;
}
.pseudo{
    box-shadow:1px 1px 1px blue,
    2px 2px 2px blue,
    3px 3px 3px blue,
    4px 4px 4px blue,
    5px 5px 5px blue,
    6px 6px 6px blue,
    7px 7px 7px blue,
    8px 8px 8px blue,
    9px 9px 9px blue,
    10px 10px 10px blue;
}

.connexion{
    background:darkred;
    width:49.62%;
}
.title__connexion{
    color:white;
    text-align: center;
    text-decoration: underline;
    font-family:'Qwigley';
    font-size: 60px;
}
.input{
    margin-left:35%;
}
.submit{
    margin-left:20%;
    margin-bottom:10%;
    box-shadow:1px 1px 1px blue,
    2px 2px 2px blue,
    3px 3px 3px blue,
    4px 4px 4px blue,
    5px 5px 5px blue,
    6px 6px 6px blue,
    7px 7px 7px blue,
    8px 8px 8px blue,
    9px 9px 9px blue,
    10px 10px 10px blue;
}
.submit2{
    margin-left:15%;
    margin-bottom:10%;
    box-shadow:1px 1px 1px blue,
    2px 2px 2px blue,
    3px 3px 3px blue,
    4px 4px 4px blue,
    5px 5px 5px blue,
    6px 6px 6px blue,
    7px 7px 7px blue,
    8px 8px 8px blue,
    9px 9px 9px blue,
    10px 10px 10px blue;
}
.title{
    text-align: center;
    color:#fff;
    font-size:60px;
    font-family: 'Qwigley';
    text-decoration: overline;
    text-shadow:1px 1px 1px blue,
    2px 2px 2px blue,
    3px 3px 3px blue,
    4px 4px 4px blue,
    5px 5px 5px blue,
    6px 6px 6px blue,
    7px 7px 7px blue,
    8px 8px 8px blue,
    9px 9px 9px blue,
    10px 10px 10px blue;
}
body{
    font-family: sans-serif;
    font-size:20px;
    background-image:  url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    padding: 0;
}

.para{
    text-align: center;
}